#bodylist {
    width: 21cm;
    height: 32cm;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    text-align: center;
}
#alltext {
    margin-left: 50mm;
    margin-right: 25mm;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    text-align: center;
    margin-top:25mm;
    margin-bottom:25mm;
     
}
#boldtext {
    font-weight: bold;}
#maincontent {
    margin-top: 50mm;
}
#signblock {
    margin-left: 60mm;
    margin-right: 15mm;
    margin-top: 30mm;

}
p.refsign{
    text-align: left;
}
span.underline{
    text-decoration: underline;
}
#pyear{
    margin-top:130mm;
 
  
}