img {
    width: 60px;
    height:60px;
}
.b2 {
    position: absolute;
    width: 60px;
}
.b1 {
    position: relative;
    width: 100%;
}
.cont {
   width: 100%;
  
}
.cont:hover .b2{
    position: relative;
    animation: move 5s ease-out;
   }
   .cont:hover .b1{
    position: absolute;
    animation: move 5s ease-out;
   }
@keyframes move {
    from {
        left: 0%;
        
      }
      25% {
        left: 20%;
             }
      50% {
        left: 70%;
              }
      75% {
        left: 90%;
             }
      to {
        left: 100%;
      }
    }