.ball {
    width: 1000px;
    height: 200px;
    position: relative;
    }
#ball-move {
    position: relative;

}

.ball input:not(checked) + label:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("soccer-ball-png-26384.png") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;

    transition: margin-left 3s linear;
}

.ball input:checked + label:before {

    margin-left: 1000px;
}

.ball input {
    display: none;
}

